.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.header h3 {
    margin: -15px 0px 0px 60px;
}

.logo {
    width: 200px;
}

.nav-items {
    padding: 0px 20px;

}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;

}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    margin: 7px;
    width: 190px;
    height: 310px;
    padding: 5px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-container{
    
    display: flex;
    flex-wrap: wrap;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;

}